.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-right: 524px;
  padding-left: 530px;
}

.list-type {
  list-style: none;
}

.type-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-pokemon {
  background-color: orange;
  color: #fff;
}